.card {
  border-radius: 10px;
}

.card-header.bg-primary {
  background-color: #FF7A92;
}

.bg-primary {
  background-color: #FF7A92 !important;
}


.form-control,
.form-select {
  &:focus {
    border-color: #ff385c !important;
    box-shadow: #ff385c !important;
  }
}