<div class="divider"><span style="font-size: 20px; font-weight: bold; color:black;">OR</span></div>
<div class="social-buttons">

    <button *ngIf="phoneOption" class="social-btn" (click)="continueWithEmail()">
        <div class="social-icon email-icon"></div>
        Continue with email
    </button>
    <button *ngIf="emailOption" class="social-btn" (click)="continueWithPhoneNumber()">
        <div class="social-icon phone-icon"></div>
        Continue with Phone Number
    </button>

</div>